#ifndef M6502_MNEMONICS_H
#define M6502_MNEMONICS_H

/**
 * Этот файл генерируется при помощи скриптов в папке scripts
 */

/**
 * Перечисление всех мнемоник ассемблера. Многие опкоды отличаются только
 * типом адрессации, но ведут себя сходно. Поэтому выделяются мнемоники,
 * описывающие основное поведение
 */
enum m6502_Mnemonic
{
{{UNIQUE_MNEMONICS}}
};

#endif
